@import url('https://fonts.googleapis.com/css2?family=Urbanist:wght@600&display=swap');

#footer{
background-color: antiquewhite;
}

#footer1{
background-color: #201528;
font-family: 'Urbanist', sans-serif;
}

#footerNav{
    font-family: 'Urbanist', sans-serif;
}