@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Urbanist:wght@600&display=swap');

#nav{
    background-color: #fff6ea;
}
#navbarButton{
    font-family: 'Urbanist';
}
#navbarLinks{
font-family: 'Urbanist';
}